@model IEnumerable<StaffTrainer.Models.ApplicationUser>
@{
    ViewBag.Title = "NumberofTrainer";
}

<h2>NumberofTrainer</h2>

<div class="form-group">
    @Html.ActionLink(
      "Back to AssignTrainer List",
      "IndexAssignTrainer",
      "Courses",
      null,
      new { @class = "btn btn-primary" }
    )
</div>
@if (User.IsInRole("Staff"))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                        @Html.ActionLink(
               "Remove User From Courses",
               "RemoveAssignTrainer",
               new { id = ViewBag.CourseId, userId = user.Id },
               new { @class = "btn btn-danger" }

             )
                    </td>
                </tr>
            }
        </tbody>
    </table>
}