@model IEnumerable<StaffTrainee.Models.ApplicationUser>
@{
    ViewBag.Title = "NumberofTrainee";
}

<h2>NumberofTrainee</h2>

<div class="form-group">
    @Html.ActionLink(
      "Back to AssignTrainee List",
      "IndexAssignTrainee",
      "Courses",
      null,
      new { @class = "btn btn-primary" }
    )
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @Html.ActionLink(
                      "Remove User From Courses",
                      "RemoveAssignTrainee",
                      new { id = ViewBag.CourseId, userId = user.Id },
                      new { @class = "btn btn-danger" }

                    )
                </td>
            </tr>
        }
    </tbody>
</table>
