@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

    @if (User.IsInRole("Trainee"))
    {
        <h2>Welcome Trainee</h2>

    }

    @if (User.IsInRole("Staff"))
    {
        <h2>Welcome Staff</h2>

    }
    @if (User.IsInRole("Admin"))
    {
        <h2>Welcome Admin</h2>

    } 
    @if (User.IsInRole("Trainer"))
    {
        <h2>Welcome Trainer</h2>

    }






    @if (Request.IsAuthenticated)
    {
        <p>Username: @User.Identity.GetUserName()</p>
    }

</div>
